*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.6s linear;
}
.nav-area{
    background-color: #010103;
    color: #fff;
}
.drop-img{
    border-radius: 50%;
    width: 45px;
    height: 45px;
}
.dropdown-menu.show {
    left: -110px;
    padding: 40px;
    text-align: center;
   
}